@import "tailwindcss";

/* Custom theme variables */
@theme {
  --color-dark-gray: #626160;
  --color-gray: #666768;
  --color-blue: #4361ee;
  --color-light-blue: #f5f7ff;
}

/* Custom utilities */
@layer utilities {
  .bg-hero {
    background-image: url("/images/bg-hero-section.svg");
  }
}
.custom-btn.MuiButton-root {
  text-transform: none;
  box-shadow: none;
  font-weight: 400;
}

.custom-btn--image.MuiButton-root {
  background-color: #fff;
  border-radius: 999px !important;
  box-shadow: none !important;
  text-transform: none !important;
  min-width: 180px !important;
  background-image: url("/images/bg-btn.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 50px;
  overflow: hidden;
  background-size: auto 50%;
}

.custom-btn--search-image.MuiButton-root {
  background-color: transparent;
  border-radius: 999px !important;
  box-shadow: none !important;
  text-transform: none !important;
  min-width: 180px !important;
  background-image: url("/images/bg-btn.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 50px;
  overflow: hidden;
  background-size: auto 50%;
  border: 1px solid #4361ee !important;
}

.custom-btn--primary.MuiButton-root {
  background-color: transparent;
  color: #fff;
  padding: 8px 15px;
  border-radius: 18px;
  border: 1px solid #fff;
  text-align: center;
}

.custom-btn--pill.MuiButton-root {
  background-color: #e9e9e9;
  color: #666768;
  height: 35px;
  padding: 0 20px;
  border-radius: 18px;
  border: 1px solid #bfbfbfb2;
  text-align: center;
  flex-shrink: 0;
}

.custom-btn--find-transparent.MuiButton-root {
  background: transparent;
  color: #4361ee;
  border: 2px solid #4361ee;
  border-radius: 999px;
  text-transform: none;
  box-shadow: none;
  padding: 10px 34px;
  min-width: 160px;
  font-weight: 700;
}

.custom-btn--find-transparent.MuiButton-root:hover,
.custom-btn--find-transparent.MuiButton-root:active,
.custom-btn--find-transparent.MuiButton-root.Mui-focused {
  background: transparent;
  border-color: #4361ee;
  box-shadow: none;
}
